:root {
    color-scheme: dark;
}

@font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito-Regular.ttf");
}

body {
    font-family: 'Nunito', sans-serif;
    color: #eee;
    background: #121212;
    background-image: url('/public/topography.svg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    margin: 0px;
    background: linear-gradient(90deg, rgba(0, 124, 240, 1) 0%, rgba(0, 223, 216, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}